pyrogram==2.0.106
tgcrypto==1.2.5
requests==2.31.0
pyromod==1.5
yt-dlp==2023.6.22
ffmpeg
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp==3.8.4
aiofiles
mediainfo
cloudscraper
helper
psutil
py-tgcalls==0.6.0
